.history
.ssh
**/runtime/**
**/*demos*/**
.vercel
**/mkdocs-site/** 
!*demo.sh
**/.DS_Store
**/venv/
**/__pycache__/
**/*.pyc
**/node_modules/
**/.env
*.log
*.tmp
*.temp
*.bak
*~
.kube/config
*.kubeconfig
*.orig
.cache/
